header {
    position: relative;
    img {
        margin-bottom: 50px;
    }
    h1 {
        position: absolute;
        top: 30%;
        left: 7%;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    header {
        h1 {
            position: inherit;
            color: black;
            margin-top: 50px;
            font-size: 20px;
            font-weight: bold;
        }
    }
}
